In [1]:
# Dictionary
# -Indexed 
# -Ordered
# -Multiple Ordered
# -Mutable

In [2]:
# d  = {<key>:<value>,<key>:<value>,<key>:<value>}

In [3]:
a = {'a':'Apple','b':'Ball','c':'Cat'}
print(a)

{'a': 'Apple', 'b': 'Ball', 'c': 'Cat'}

In [5]:
print(a['b'])
print(len(a))

Ball
3

In [6]:
a = {'a':'Apple','b':'Ball','c':'Cat'}
b = {'d':'Dog'}
c = a+b
c

TypeError: unsupported operand type(s) for +: 'dict' and 'dict'

In [9]:
a = {'a':'Apple','b':'Ball','c':'Cat'}
for i in a.values():
    print(i)

Apple
Ball
Cat

In [10]:
a = {'a':'Apple','b':'Ball','c':'Cat'}
for i in a:
    print(i)

a
b
c

In [11]:
a = {'a':'Apple','b':'Ball','c':'Cat'}
for i in a.items():
    print(i)

('a', 'Apple')
('b', 'Ball')
('c', 'Cat')

In [13]:
a = {'a':'Apple','b':'Ball','c':'Cat'}
b = []
for i in a.items():
    b.append(i)
    
b

[('a', 'Apple'), ('b', 'Ball'), ('c', 'Cat')]

In [14]:
dict(b)

{'a': 'Apple', 'b': 'Ball', 'c': 'Cat'}

In [15]:
a = dict()
print(a)

{}

In [16]:
d = {'a':'Apple','b':'Ball','c':'Cat'}
d['a'] = 'Ann' #UPDATE
d

{'a': 'Ann', 'b': 'Ball', 'c': 'Cat'}

In [17]:
d = {1:'Apple','b':'Ball',4:'Cat'}            #string and integer can be supported and accepted
d

{1: 'Apple', 'b': 'Ball', 4: 'Cat'}

In [18]:
d = {'a':'Apple','b':'Ball','c':'Cat'}
d['f'] = 'fAns' #UPDATE
d

{'a': 'Apple', 'b': 'Ball', 'c': 'Cat', 'f': 'fAns'}

In [20]:
d = {}
d['a'] = 'Amen'
d['b'] = 'BIBLE'
d['c'] = 'Christ'
d

{'a': 'Amen', 'b': 'BIBLE', 'c': 'Christ'}

In [24]:
d = {}
n = int(input("Enter n = "))
for i in range(n):
    name = input("Enter name = ")
    number = int(input("Enter number = "))
    d[name] = number
    
print(d)

Enter n = 2
Enter name = Deepak
Enter number = 0987654
Enter name = Gangs
Enter number = 456789
{'Deepak': 987654, 'Gangs': 456789}

In [26]:
d = {'Deepak': 987654, 'Gangs': 456789}
d['Deepak'] = 987654321
d

{'Deepak': 987654321, 'Gangs': 456789}

In [27]:
d = {'Deepak': 987654, 'Gangs': 456789}
del d['Deepak']
print(d)

{'Gangs': 456789}

In [29]:
d = {'Deepak': 987654, 'Gangs': 456789}
d.pop('Deepak')

987654

In [30]:
d = {'Deepak': 987654, 'Gangs': 456789}
m = d.pop('Deepak')
print(d)
print(m)

{'Gangs': 456789}
987654

In [31]:
d = {('Deepak',): 987654, ('Gangs',): 456789}
d

{('Deepak',): 987654, ('Gangs',): 456789}

In [32]:
d = {['Deepak']: 987654, ['Gangs']: 456789}         #Key doesnot include list.
d

TypeError: unhashable type: 'list'

In [33]:
#list inside dictionary.
g = {'Deepak':[98765,1234], 'gangs':[232345,34566543]}
g

{'Deepak': [98765, 1234], 'gangs': [232345, 34566543]}

In [36]:
g = {'name':['Deepak','nobel','Gabs'],'age':[12,13,14],'address':['ktm','nakk','dol']}
g

{'name': ['Deepak', 'nobel', 'Gabs'],
 'age': [12, 13, 14],
 'address': ['ktm', 'nakk', 'dol']}

In [38]:
g = {'name':['Deepak','nobel','Gabs'],'age':[12,13,14],'address':['ktm','nakk','dol']}
g['name']

['Deepak', 'nobel', 'Gabs']

In [39]:
g = {'name':['Deepak','nobel','Gabs'],'age':[12,13,14],'address':['ktm','nakk','dol']}
g['name'][0]

'Deepak'

In [41]:
g = {'name':[],'age':[],'add':[]}
n = int(input("Enter n = "))
for i in range(n):
    name = input("Enter name = ")
    age = int(input("Enter age = "))
    add = input("Enter address = ")
    g['name'].append(name)
    g['age'].append(age)
    g['add'].append(add)
    
print(g)

Enter n = 2
Enter name = asdfg
Enter age = 12
Enter address = dfgh
Enter name = wer
Enter age = 34
Enter address = asdfg
{'name': ['asdfg', 'wer'], 'age': [12, 34], 'add': ['dfgh', 'asdfg']}