In [1]:
# append() insert() extend()

In [2]:
a = []
a.append('App')
a.append('Bom')

print(a)

['App', 'Bom']

In [2]:
a = []
n = int(input("Enter the value of n = "))
for i in range(n):
    x = input("Enter the value of x = ")
    a.append(x)
    
print(a)

Enter the value of n = 3
Enter the value of x = qwqert
Enter the value of x = jhgfds
Enter the value of x = rtg
['qwqert', 'jhgfds', 'rtg']

In [3]:
a = ['App', 'Bom', 'Cao']
a.insert(1,'ANT')
print(a)

['App', 'ANT', 'Bom', 'Cao']

In [4]:
a = ['App', 'Bom', 'Cao']
b = ['Don', 'Fin']
a.extend(b)
print(a)

['App', 'Bom', 'Cao', 'Don', 'Fin']

In [6]:
#CRUD       ==           #c=create, r=read, u=update, d=delete
#Update
a = ['aon','bon','con','don']
a[0] = 'Anj'
a

['Anj', 'bon', 'con', 'don']

In [8]:
# #Deletea = ['App', 'Bom', 'Cao']
# del remove() pop()
a = ['aon','bon','con','don']
del a[0]
print(a)

['bon', 'con', 'don']

In [2]:
a = ['aon','bon','con','don','Fon']
del a[0:4]
print(a)

['Fon']

In [4]:
a = ['aon','bon','con','don','Fon']
a.remove('aon')
a

['bon', 'con', 'don', 'Fon']

In [7]:
a = ['aon','bon','con','don','Fon','aon']
c = a.count('aon')
for i in range(c):
    a.remove('aon')
    print(a)

['bon', 'con', 'don', 'Fon', 'aon']
['bon', 'con', 'don', 'Fon']

In [8]:
#to know the index of the list number.
a = ['aon','bon','con','don','Fon','aon']

for i in range(len(a)):
    if a[i] == 'aon':
        print(i)

0
5

In [9]:
a = ['aon','bon','con','don','Fon','aon']
a.pop()
a

['aon', 'bon', 'con', 'don', 'Fon']

In [11]:
a = ['aon','bon','con','don','Fon','aon']
b = a.pop(2)
print(b)

con

In [13]:
a = "Apple 3 200\nBanana 2 300"
print(a)

Apple 3 200
Banana 2 300

In [14]:
x = a.split('\n')
x

['Apple 3 200', 'Banana 2 300']

In [15]:
# List inside list
a = [[1,2,3],
     [4,5,6],
     [7,8,9]]
print(a)
print(type(a))
print(len(a))

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]
<class 'list'>
3

In [17]:
info = [['Deepak',80,'ktm'],
       ['Gyabhu',9,'nak'],
       ['Nobel',12,'kamsa']]
print(info)

[['Deepak', 80, 'ktm'], ['Gyabhu', 9, 'nak'], ['Nobel', 12, 'kamsa']]

In [25]:
data = []
a = "Apple 3 200 3003\nBanana 2 300 4003"
print(a.split('\n'))

['Apple 3 200 3003', 'Banana 2 300 4003']

In [31]:
data = []
a = "Apple 3 200 3003\nBanana 2 300 4003"
b = a.split('\n')
print(b)
b[0].split()

['Apple 3 200 3003', 'Banana 2 300 4003']

['Apple', '3', '200', '3003']

In [27]:
data = []
a = "Apple 3 200 3003\nBanana 2 300 4003"
x = a.split('\n')
for i in x:
    y = i.split()
    data.append(y)
data

[['Apple', '3', '200', '3003'], ['Banana', '2', '300', '4003']]

In [11]:
# WAP to create a billing system using list inside list. 

print("              Searching Item.....              ")
bill = []
no_of_product = int(input("Enter number of product = "))
for i in range(no_of_product):
    product = input("Enter product name = ")
    quantity = int(input("Enter quantity = "))
    price = int(input("Enter price = "))
    total = price*quantity
    x = f"{product} {quantity} {price} {total}"
    x = x.split()
    bill.append(x)

print(bill)

              Searching Item.....
Enter number of product = 2
Enter product name = milk
Enter quantity = 2
Enter price = 90
Enter product name = choco
Enter quantity = 2
Enter price = 900
[['milk', '2', '90', '180'], ['choco', '2', '900', '1800']]

In [10]:
#WAP to create a billing system using list inside list
data=[]
items=int(input("enter number of items:"))
for i in range(items):
    product=input("enter name:")
    qty=int(input("enter qty:"))
    price=int(input("enter price:"))
    total=qty*price
    x=[product,qty,price,total]
    data.append(x)
        
print(data)

enter number of items:2
enter name:qwe
enter qty:2
enter price:1
enter name:bdfgd
enter qty:2
enter price:2
[['qwe', 2, 1, 2], ['bdfgd', 2, 2, 4]]

In [12]:
#how to create list
a = [['deepak', 32, 'ktm'],
     ['gabs', 9, 'nakk'],
    ['noob', 10, 'lal']]
for i in a:
    if 'deepak' in i:
        print(i)

['deepak', 32, 'ktm']

In [17]:
print('                find your GFFFFFF...........                 ')
a = [['deepak', 32, 'gangs'],
     ['gabs', 9, 'nikk'],
    ['noob', 10, 'grace']]
name = input("Enter name = ")
for i in a:
    if name in i:
        print(i)

                find your GFFFFFF...........
Enter name = noob
['noob', 10, 'grace']

In [22]:
a = [['deepak', 32, 'gangs'],              #a[0]
     ['gabs', 9, 'nikk'],                   #a[1]
    ['noob', 10, 'grace']]                   #a[2]
a[2][2]

'grace'

In [25]:
# Update
a = [['nvhj', 23, 'lkhjh'],             
     ['gabs', 9, 'nikk'],                  
    ['noob', 10, 'grace']] 
a[0] = ['deepak', '32', 'gangs']
a

[['deepak', '32', 'gangs'], ['gabs', 9, 'nikk'], ['noob', 10, 'grace']]

In [26]:
# Update
a = [['nvhj', 23, 'lkhjh'],             
     ['gabs', 9, 'nikk'],                  
    ['noob', 10, 'grace']] 
a[0] [0] = 'deepak' 
a

[['deepak', 23, 'lkhjh'], ['gabs', 9, 'nikk'], ['noob', 10, 'grace']]

In [27]:
a = [['deepak', 23, 'ktm'],             
     ['gabs', 9, 'nikk'],                  
    ['noob', 10, 'grace'],
    ['deepak', 32, 'asdd']]
name = input("Enter name = ")
for i in a:
    if name in i:
        a.remove(i)
        
print(a)

Enter name = deepak
[['gabs', 9, 'nikk'], ['noob', 10, 'grace']]

In [30]:
# m = [[1,2,3],
#        [4,5,6],
#        [7,8,9]]
# WAP to create a matrix
m = []
r = int(input("Enter row = "))
c = int(input("Enter column = "))
for i in range(r):
    y = []
    for j in range(c):
        x = int(input("Enter x = "))
        y.append(x)
    m.append(y)
print(m)

Enter row = 2
Enter column = 2
Enter x = 2
Enter x = 4
Enter x = 7
Enter x = 5
[[2, 4], [7, 5]]