In [1]:
# loopp in python
# for
# while

In [3]:
# for
# range(5)  -> 0,1,2,3,4    for(i = 0; i < 5; i++)
# range(1,5)  -> 1,2,3,4    for(i = 1;i < 5; i++)
# range(1,5,2)-> 1,3    for(i = 1;i < 5; i=+2)

In [4]:
for i in range(5):
    print(i,"hello world")

0 hello world
1 hello world
2 hello world
3 hello world
4 hello world

In [5]:
for i in range(1,5):
    print(i,"hello world")

1 hello world
2 hello world
3 hello world
4 hello world

In [6]:
for i in range(1,5,2):
    print(i,"hello world")

1 hello world
3 hello world

In [9]:
n = int(input("Enter n = "))
for i in range(1,11):
    print(n*i)

Enter n = 8
8
16
24
32
40
48
56
64
72
80

In [10]:
n = int(input("Enter n = "))
for i in range(1,11):
    print(n,"*",i,"=",n*i)

Enter n = 8
8 * 1 = 8
8 * 2 = 16
8 * 3 = 24
8 * 4 = 32
8 * 5 = 40
8 * 6 = 48
8 * 7 = 56
8 * 8 = 64
8 * 9 = 72
8 * 10 = 80

In [13]:
s = 0
n = int(input("Enter n = "))
for i in range(n):
    x = int(input("Enter x = "))
    s = s+x
    print(s)

Enter n = 3
Enter x = 1
1
Enter x = 2
3
Enter x = 3
6

In [20]:
s = str()
n = int(input("Enter n = "))
for i in range(n):
    name = (input("Enter name = "))
    s = s+name+"\t"
print(s)

Enter n = 3
Enter name = Nobel Guuu
Enter name = Deepak Don
Enter name = GYabhu Hero
Nobel Guuu	Deepak Don	GYabhu Hero

In [25]:
s = str()
n = int(input("Enter n = "))
for i in range(n):
    name = input("Enter name = ")
    phone = input("Enter phone = ")
    s = s+name+" "+phone+"\t"
print(s)

Enter n = 3
Enter name = Nobel Guu
Enter phone = 69
Enter name = Deepak Don
Enter phone = 80
Enter name = Gyabhu Hero
Enter phone = 09
Nobel Guu 69	Deepak Don 80	Gyabhu Hero 09

In [26]:
print(s)

Nobel Guu 69	Deepak Don 80	Gyabhu Hero 09

In [21]:
# 5! = 1*2*3*4*5
fac = 1
n = int(input("Enter n = "))
for i in range(1,n+1):
    fac = fac*i
    
    print(fac)

Enter n = 5
1
2
6
24
120

In [22]:
#assignment
#WAP to create a billing system
print("A billing system")
total = 0
no_of_product = int(input("Enter how many types of product do you want to buy = "))
for i in range(no_of_product):
  product = input("Enter product name = ")
  quantaty = int(input("Enter product quantity = "))
  price = int(input("Enter product price = "))
  total = quantaty * price
print("The total price is = ", total)

A billing system
Enter how many types of product do you want to buy = 2
Enter product name = chocolate
Enter product quantity = 2
Enter product price = 12
Enter product name = milk
Enter product quantity = 2
Enter product price = 40
The total price is =  80

In [1]:
#assignment
print("Billing System")
total = 0
no_of_product = int(input("Enter the types of product = "))
for i in range(no_of_product):
    product = input("Name of the product =")
    quantity = int(input("Enter the quantity = "))
    price = int(input("Enter the price = "))
    total = total+quantity * price
    print("The total price is = ",total)

Billing System
Enter the types of product = 2
Name of the product =Milk
Enter the quantity = 2
Enter the price = 60
The total price is =  120
Name of the product =chocolate
Enter the quantity = 2
Enter the price = 90
The total price is =  300

In [4]:
fac =1
num = int(input("Enter the number"))
for x in range(1,num+1):
    fac = fac*x
    
    print(fac)

Enter the number12
1
2
6
24
120
720
5040
40320
362880
3628800
39916800
479001600

In [1]:
#assignment
print("Billing System")
data = str()
n = int(input("Enter n = "))
for i in range(n):
    name = input("Enter Name = ")
    quantity = int(input("Enter the quantity = "))
    price = int(input("Enter the price = "))
    total = quantity * price
    bill = name +" " + str(quantity)+ " " + str(price) +" " + str(total) +"\n"
    data = data + bill
print("Name,Price,Quantity,Total")
print(data)

Billing System
Enter n = 2
Enter Name = chocolaate
Enter the quantity = 2
Enter the price = 90
Enter Name = apple
Enter the quantity = 1
Enter the price = 200
Name,Price,Quantity,Total
chocolaate 2 90 180
apple 1 200 200

In [2]:
a = "PYTHON"
for i in a:
    print(i)

P
Y
T
H
O
N

In [3]:
a = "PYTHON"
for i in a:
    if i !=" ":
        print(i, end = " ")

P Y T H O N

In [6]:
a = "PYTHON is a program"
for i in a:
    if i !=" ":
        print(i, end = "")

PYTHONisaprogram

In [7]:
a = "PYTHON is a program."
for i in a:
    if i !=" " and i !='.':
        print(i, end = "")

PYTHONisaprogram