In [1]:
a = 'Hello World'
print(a)
print(type(a))

Hello World
<class 'str'>

In [2]:
a = "Appl]e"
b = "Ball"
c = a+b
print(c)

Appl]eBall

In [4]:
a = "Hello World\n"
print(a*3)

Hello World
Hello World
Hello World

In [5]:
a = input("Enter a = ")
b = input("Enter b = ")
c = a+b
print(c)

Enter a = 1
Enter b = 2
12

In [11]:
a = "Hello World"
print(a[0])
print(a[0:5])
print(a[5:])
print(a[0:11])
print(a[0:11:2])
print(a[::2])

H
Hello
 World
Hello World
HloWrd
HloWrd

In [12]:
a = "Hello World"
a[::-1]

'dlroW olleH'

In [16]:
a = "Hello World"
print(a[-1:-6:-1])

dlroW

In [19]:
a = "Hello World"
b = a[0:5]
c = a[5:]
print(b)
print(c)

Hello
 World

In [18]:
a = "Hello World"
b = a[-7:-12:-1]
c = a[5:]
d = b+c
d

'olleH World'

In [21]:
name = "Deepak"
age = "80"
add = "Nakkhu"
info = "Hello World I am "+name+ " I am from "+add+" I am "+ str(age)+" years old."
print(info)

Hello World I am Deepak I am from Nakkhu I am 80 years old.

In [24]:
#string formatting

name = input("Enter your name = ")
age = int(input("Enter your age = "))
add = input("Enter your address = ")
info = f"Hello I am {name}. I am from {add}. I am {age} years old."
print(info)

Enter your name = Deepak Don
Enter your age = 69
Enter your address = Sindhuli Gadi
Hello I am Deepak Don. I am from Sindhuli Gadi. I am 69 years old.

In [28]:
a = "Deepak gabriel Nobel Ganga Prakash Sushma Mosa Rama"
print("Nobel" in a)
if "Deepak" in a:
    print("YES")
else:
    print("NO")

True
YES

In [35]:
a = "Deepak gabriel Nobel Ganga Prakash Sushma Mosa Rama"
see = input("Enter search name = ")
if see in a:
    print("YES",a.count(see))
else:
    print("NO")

Enter search name = nobel
NO

In [38]:
#Replace
a = "Deepak gabriel Nobel Ganga Prakash Sushma Mosa Rama"
print(a.replace('Deepak','Deepak Don'))
print(a)

Deepak Don gabriel Nobel Ganga Prakash Sushma Mosa Rama
Deepak gabriel Nobel Ganga Prakash Sushma Mosa Rama

In [40]:
#Replace (Emutable value)
a = "Deepak gabriel Nobel Ganga Prakash Sushma Mosa Rama"
a = a.replace('Deepak','Deepak Don')
print(a)

Deepak Don gabriel Nobel Ganga Prakash Sushma Mosa Rama

In [41]:
#Replace (Mutable value)
a = "Deepak gabriel Nobel Ganga Prakash Sushma Mosa Rama"
a = a.replace('Deepak','')
print(a)

 gabriel Nobel Ganga Prakash Sushma Mosa Rama

In [44]:
#Replace (Emutable value)
a = "Deepak gabriel Nobel Ganga Prakash Sushma Mosa Rama"
a = a.replace('Deepak','Deepak Don')
print(a)

Deepak Don gabriel Nobel Ganga Prakash Sushma Mosa Rama

In [3]:
print("          String Search            ")
a = "Deepak gabriel Nobel Ganga Prakash Sushma Mosa Rama"
a=a.replace('Deepak','Deepak Don')
a=a.lower()
b=input("Look for: ")
b=b.lower()
if b in a:
  print("Yes!!! We dit it guys.\ncount: ",a.count(b))
else:
  print("Not available, SORRY!!!!")

          String Search
Look for: GanGA
Yes!!! We dit it guys.
count:  1

In [2]:
print("          String Search            ")
a = "Deepak gabriel Nobel Ganga Prakash Sushma Mosa Rama"
choice=""
while True:
  choice=input("Choose '0' to search and '1' to exit: ")
  if choice=='0':
    a=a.replace('Deepak','Deepak Don')
    a=a.lower()
    b=input("Look for: ")
    b=b.lower()
    if b in a:
      print("Yes!\ncount: ",a.count(b))
    else:
     print("Not availabe")
  elif choice=='1':
    print("Thank you")
    break
  else:
    print("Choice not recognised")
    continue

          String Search
Choose '0' to search and '1' to exit: 0
Look for: GABRIEL
Yes!
count:  1
Choose '0' to search and '1' to exit: 0
Look for: 1
Not availabe
Choose '0' to search and '1' to exit: 1
Thank you

In [2]:
print = ("            Searching.......        ")
a = "Sunday monday tuesday wednesday thursday friday SATURDAY"
while True:
    option = input("Choose 1 for further operation and 0 for exit  = ")
    if option=='1':
        a = "Sunday monday tuesday wednesday thursday friday SATURDAY"
        a = a.lower()
        b = input("Enter days = ")
        b = b.lower()
        if b in a:
             print("YES!!\ncount",a.count(b))
        else:
             print("Not Available")
    elif option=='0':
        print("Thank you for visiting us.")
        break
    else:
        print("Invalid option")
        continue

Choose 1 for further operation and 0 for exit  = 1
Enter days = SUNday

TypeError: 'str' object is not callable

In [1]:
a = "Sunday monday tuesday wednesday thursday friday SATURDAY"
search = input("Enter search = ").lower()
if search in a:
    print("Yes",a.count(search))
else:
    print("NO")

Enter search = sunDAY
NO