In [2]:
!pip install mysql-connector

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: mysql-connector in c:\users\magar\appdata\roaming\python\python39\site-packages (2.2.9)

In [1]:
#Create Database.
import mysql.connector
#importing database
database = mysql.connector.connect(
host="localhost",
user="root",
password=""
)
db = database.cursor()

db.execute("CREATE DATABASE deps")

DatabaseError: 1007 (HY000): Can't create database 'deps'; database exists

In [3]:
 #Creating Table.
import mysql.connector
#importing database
database = mysql.connector.connect(
host="localhost",
user="root",
password="",

database = "deps"
)
db = database.cursor()
db.execute("CREATE TABLE subject(id INT, name VARCHAR(255))")

ProgrammingError: 1050 (42S01): Table 'subject' already exists

In [5]:
db.execute("SELECT * FROM student")
result =db.fetchall()
for data in result:
    print(data)

NameError: name 'db' is not defined

In [1]:
# insert in mysql.
import mysql.connector
mydb = mysql.connector.connect(
host="localhost",
user="root",
passwd="",
database="deps"
)
mycursor = mydb.cursor()
sql = "INSERT INTO student (id,name) VALUES(1,'deepak')"
mycursor.execute(sql)
mydb.commit()
print(mycursor.rowcount, "record inserted.")

ProgrammingError: 1146 (42S02): Table 'deps.student' doesn't exist

In [6]:
sql = "SELECT * FROM college"
database.execute(sql)

result = database.fetchall()
for data in result:
    print(data)

AttributeError: 'MySQLConnection' object has no attribute 'execute'

In [3]:
n = int(input("Enter n = "))
for i in range(n):
    name = input("Enter name = ")
    math = int(input("Enter math marks = "))
    nepali = int(input("Enter nepali marks = "))
    science = int(input("Enter science marks = "))
    social = int(input("Enter social marks = "))
    total = sum([math,nepali,science,social])
    per = total/5
    if per>= 80:
        grade = 'A'
    elif per>=60:
        grade = 'B'
    elif per>=45:
        grade = 'C'
    else:
        grade = 'F'
    
    sql = f'''INSERT INTO 'student'('name','math','nepali'',science','social','total','percentage','grade')
    VALUES ('{name}',{math},{nepali},{science},{social},{total},{per},{grade}')'''
    print(sql)
    db.execute(sql)
    
database.commit()

Enter n = 1
Enter name = sdf
Enter math marks = 1
Enter nepali marks = 2
Enter science marks = 3
Enter social marks = 4
INSERT INTO 'student'('name','math','nepali'',science','social','total','percentage','grade')
    VALUES ('sdf',1,2,3,4,10,2.0,F')

NameError: name 'db' is not defined

In [2]:
# Delete
sql = "DELETE FROM student WHERE id = 3"
db.execute(sql)
database.commit

ProgrammingError: 1046 (3D000): No database selected

In [3]:
id = int(input("Enter id = "))
sql = f"DELETE FROM student WHERE id = {id}"
db.execute(sql)
database.comit()

Enter id = 2

ProgrammingError: 1046 (3D000): No database selected

In [8]:
 # update 
sql = "UPDATE student SET name = 'deepakii' WHERE name = 'deepak'" 
db.execute(sql)
databaswe.commit()

NameError: name 'db' is not defined

In [7]:
# update 
sql = "UPDATE student SET name = 'deepakii' WHERE name = 'deepak' and garde = 'A'" 
db.execute(sql)
databaswe.commit()

NameError: name 'db' is not defined

In [ ]:
# update the mark sheet in sql
#