In [1]:
# python Collection
# List
# Tuple
# Dictionary
# Set

In [2]:
# list
# mulitiple value
# Indexed
# ordered
# mutable

In [3]:
# Multiple Value
a = ["Apple","Ball","Cat","Dog"]
b = [1,2,3,4,5]
print(a)
print(b)

['Apple', 'Ball', 'Cat', 'Dog']
[1, 2, 3, 4, 5]

In [4]:
a = ["Apple","Ball","Cat","Dog"]
print(a[0])

Apple

In [6]:
a = ["Apple","Ball","Cat","Dog"]
print(a[0:3])

['Apple', 'Ball', 'Cat']

In [7]:
a = ["Apple","Ball","Cat","Dog"]
print(a[0:3:2])

['Apple', 'Cat']

In [9]:
a = ["Apple","Ball","Cat","Dog"]
b = ["Elephant","Fish","Gaot"]
print(a+b)
print(b+a)

['Apple', 'Ball', 'Cat', 'Dog', 'Elephant', 'Fish', 'Gaot']
['Elephant', 'Fish', 'Gaot', 'Apple', 'Ball', 'Cat', 'Dog']

In [10]:
a = ["Apple","Ball","Cat","Dog"]
print(a*2)

['Apple', 'Ball', 'Cat', 'Dog', 'Apple', 'Ball', 'Cat', 'Dog']

In [11]:
a = [1,2,3,4,5,6,7,8,9]
print(a*2)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [12]:
a = []
b = ["Apple"]
a = a+b
print(a)

['Apple']

In [16]:
a = []
n= int(input("Enter n = "))
for i in range(n):
    x = int(input("Enter x = "))
    a = a+[x]
    
print(a)

Enter n = 5
Enter x = 2345
Enter x = 235
Enter x = 678
Enter x = 8990
Enter x = 234
[2345, 235, 678, 8990, 234]

In [20]:
print("The max value = ",max(a))
print("The min value = ",min(a))
print("The sum value = ",sum(a))
print("The avg value = ",sum(a)/n)
a.sort()
print(a)
a.reverse()                                    # all these things only in a list.
print(a)

The max value =  8990
The min value =  234
The sum value =  12482
The avg value =  2496.4
[234, 235, 678, 2345, 8990]
[8990, 2345, 678, 235, 234]

In [23]:
a = ["Apple","Ball","Zebra","Cat","Doll"]
a.sort()
a

['Apple', 'Ball', 'Cat', 'Doll', 'Zebra']

In [25]:
a = ["Apple","Ball","@Zebra","Cat","Doll"]
a.sort()
a

['@Zebra', 'Apple', 'Ball', 'Cat', 'Doll']

In [2]:
a = ["Ram","Ramesh","Sita","hari","Sital"]
search = input("Enter search = ")
if "Ram" in a:
    print("Yes",a.count("Ram"))
else:
    print("NO")

Enter search = sita
Yes 1

In [ ]:
# WAP to search case insensitive values from list

In [3]:
a[0].lower()

'ram'

In [4]:
a = ["Ram","Ramesh","Sita","hari","Sital"]
for i in a:
    print(i)

Ram
Ramesh
Sita
hari
Sital