In [1]:
# Tuple
# = Indexed
# = Ordered
# = Multiple and Duplicate value
# = Imutable

In [2]:
a = (1,2,3,4,5)
print(type(a))
print(a)

<class 'tuple'>
(1, 2, 3, 4, 5)

In [5]:
a = (1,2,3,4,5)
print(a[0])
print(a[0:4])

1
(1, 2, 3, 4)

In [6]:
a = (1,2,3,4,5,6)
b = (7,8,9)
c = a+b
print(c)

(1, 2, 3, 4, 5, 6, 7, 8, 9)

In [7]:
# no append() insert() extend()   =     will not used
# no update
# no del pop() remove
# no sort

In [9]:
a = ("Apple",)
print(a)
print(type(a))

('Apple',)
<class 'tuple'>

In [2]:
t = ()
n = int(input("Enter n = ")
for i in range(n)
    x = int(input("Enter x ="))
    t = t+(x,)
print(t)

SyntaxError: invalid syntax (3963213324.py, line 4)

In [9]:
a = (1,2,3,4,5,6,7,8,9)
a = list(a)
a

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [11]:
del a[0]

In [10]:
tuple (a)

(1, 2, 3, 4, 5, 6, 7, 8, 9)

In [13]:
# TupAle inside tuple
a = ((1,2,3),(4,5,6),(7,8,9))
a

((1, 2, 3), (4, 5, 6), (7, 8, 9))

In [9]:
t = tuple()
n = int(input("Enter n = ")
for i in range(n):
        name = input("Enter name = ")
        age = int(input("Enter age = "))
        add = input("Enter address = ")
        
    t = t+((name,age,add),)
        
print(t)

SyntaxError: invalid syntax (3405658748.py, line 3)

In [5]:
a = (('deepak',90,'ktm'),('gabs',9,'tmk'))
l = []
for i in a:
    x = list(i)
    l.append(x)

print(l)

[['deepak', 90, 'ktm'], ['gabs', 9, 'tmk']]

In [3]:
a = (('deepak',90,'ktm'),('gabs',9,'tmk'))
t = ()
for i in a:
    x = tuple(i)
    t = t+(x,)

t

(('deepak', 90, 'ktm'), ('gabs', 9, 'tmk'))

In [8]:
#WAP to create a matrix using tuple inside tuple
m = ()
r = int(input("Enter row = "))
c = int(input("Enter column = "))
for i in range(r):
    y = ()
    for j in range(c):
        x = int(input("Enter x = "))
        y = y+(x,)
    m = m+(y,)
print(m)

Enter row = 2
Enter column = 2
Enter x = 1
Enter x = 2
Enter x = 3
Enter x = 4
((1, 2), (3, 4))